html,
body {
  padding: 0;
  margin: 0;
  background-image: url('image/des.png/image.png');
  background-repeat: no-repeat;
  background-origin: border-box;
}

.mainbody {
  padding-left: 1%;
}

.tonic {
  font-size: 24px;
  font-weight: bold;
}

.toggle {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin-top: 1px;
  margin-left: 500px;
  color: blue;
}

.logo {
  margin-top 60px;
  margin-left: 30px;
  color: blue;
}

.therest {
  margin-left: 30px;
}

.mediaicon {
  margin-top: 10px;
}

.navigation-menu {
  display: none;
}

.image {
  margin-top: 100px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.see {
  position: relative;
  color: blue;
  border: 1px solid #6070ff;
  border-radius: 4px;
  width: 116px;
  height: 38px;
  margin-top: 20px;
}

.About {
  margin-top: 100px;
}

.icon {
  margin-top: 30px;
}

.get {
  position: relative;
  color: blue;
  border: 1px solid #6070ff;
  border-radius: 4px;
  width 116px;
  height: 38px;
  margin-top: 20px;
  margin-top: 40px;
}

.i {
  padding-left: 50%;
  margin-top: -10px;
}

.j {
  padding-left: 50%;
  margin-top: -10px;
}

.imagew {
  padding-left: 60%;
}

.contact {
  margin-top: 100px;
  background-color: blue;
}

.area {
  width: 200px;
  height: 100px;
}

.summitmode {
  margin-top: 100px;
  position: relative;
  color: blue;
  border: 1px solid #6070ff;
  border-radius: 4px;
  width: 116px;
  height: 38px;
}

.note {
  color: white;
}

.c {
  color: white;
}

@media screen and (min-width: 768px) {
  .all {
    padding-left: 30%;
  }

  .mainbody {
    background-image: url('css/image/des.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .half {
    display: flex;
    flex-direction: row;

  }

  .tonic {
    margin-left: 40%;
    margin-top: -250px;
    font-size: 36px;
    font-weight: bold;
  }

  .About {
    padding-left: 40%;

  }

  .contact {
    padding-left: 40%;
  }

  .list {
    margin-left: -60px;
    margin-right: 15%;
    margin-top: -200px;
  }

  .sentence {
    padding-left: -40px;
    margin-left: -450px;
    margin-top: -150px;
  }

  .list2 {
    margin-left: -250px;
    margin-top: -80px;
  }

  .see {
    margin-bottom: 150px;
    margin-left: -100px;
  }

  .secondpage {
    padding-left: 20%;
    margin-top: 400px;
  }

  .toggle {
    display: none;
  }

  .navigation-menu {
    display: inline;
    padding-left: 70%;
    list-style: none;
    text-decoration-line: none;
    justify-content: space-between;
  }

  .ab {
    font-size: 36px;
    font-weight: bold;
  }

  .f {
    margin-top: 300px;
  }

  .g {
    margin-top: -350px;
  }

  .h {
    margin-top: -350px;
  }

  .ii {
    margin-top: -350px;
  }
}